<h1>Rekistöröityäksesi käyttäjäksi täytä seuraavat tiedot</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :firstname , "Etunimi:"%><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname , "Sukunimi:"%><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :nick , "Tunnus:"%><br />
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :email , "Sähköposti:"%><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password , "Salasana:"%><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Salasana uudelleen:" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Lähetä" %>
  </div>
<% end %>
