     <div class="profile"> 
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nick %>
      </h1>
      <strong>Etunimi:</strong> <%= @user.firstname %><br />
      <strong>Sukunimi:</strong> <%= @user.lastname %><br />
      <strong>URL</strong>  <%= link_to user_url(@user), @user %>
      </div>
