<nav>
  <ul>
    <li><%= link_to "Etusivu", root_path %></li>
    <li><%= link_to "Keikat", blog_path %></li>
    <li><%= link_to "Galleria", blog_path %></li>
    <li><%= link_to "Uutiset", blog_path %></li>
    <li><%= link_to "Bändi", about_path %></li>
  </ul>
</nav>

