<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    <div id="content">
      <div id="mainContent">
        <%= render 'layouts/main' %>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>

